@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* alter defaults */
* {
  box-sizing: border-box;
  border: none;
}

:root {
  --main-background-color: rgba(0, 0, 0, 1);
  --main-text-color: rgb(255, 255, 255, .87);
  --secondary-text-color: rgb(255, 255, 255, .6);
  --contrast-text-color: rgba(0, 0, 0, 1);
  --error-color: rgba(211, 84, 107, 1);
  --primary-color: rgba(187, 134, 252, 1);
  --level-one-overlay: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.08);
  --level-two-overlay: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.16);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  overflow-y: scroll;
  background-color: var(--main-background-color);
}

button {
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  appearance: inherit;
}

p {
  margin: 0px;
  white-space: pre-wrap;
}

h1 {
  margin: 0;
}

.app {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  position: relative;
}

.nav_body_container {
  width: 650px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
}

.navbar {
  background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay);
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  transform: translateX(-80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
} 

.navbarIcon {
  color: var(--main-text-color);
  font-size: 35px;
  padding: 10px;
  border-radius: 100px;
  transition-duration: 0.15s;
}

.logoutButton {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay);
  font-size: 35px;
  padding: 10px;
  border-radius: 100px;
  transition-duration: 0.15s;
}

.navbarIcon:hover, .logoutButton:hover {
  box-shadow: var(--level-two-overlay);
}

/* Home Page */

.home__postFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
}

.home__postFormContainer {
  display: flex;
  justify-content: center;
}

.home__postForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay);
  border-radius: 3px;
  width: 650px;
  margin-bottom: 5px;
}

/* alter box size as lines increas */
.postForm__input {
  resize: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background-color);
  box-shadow: var(--level-two-overlay);
  color: var(--secondary-text-color);
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 100%;
}

.postForm__charCount {
  position: absolute;
  right: 80px;
  bottom: 10px;
  color: var(--secondary-text-color);
}

.postForm__inputFiller {
  position: absolute;
  pointer-events: none;
  left: 13px;
  top: 13px;
  font-size: 18px;
  color: var(--secondary-text-color);
}

.postForm__submit {
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
  border-radius: 2px;
  height: 25px;
  font-size: 14px;
  align-self: flex-end;
  cursor: pointer;
  transition-duration: 0.1s;
}

.postForm__submit:hover {
  box-shadow: var(--level-two-overlay)
}

.likeButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  color: var(--secondary-text-color);
  background-color: inherit;
  /* background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay); */
}

.likeButton:hover {
  color: var(--error-color);
}

.dislikeButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  color: var(--error-color);
  background-color: inherit;
  /* background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay); */
}

.home__post {
  font-size: 16px;
  background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay);
  width: 650px;
  margin: 5px 0px 5px;
  border-radius: 3px;
  padding: 8px;
  padding-bottom: 6px;
  transition-duration: 0.15s;
  transition-property: box-shadow;
}

.home__post:hover {
  box-shadow: var(--level-two-overlay);
  cursor: pointer;
}

.post__topRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 3px;
}

.post__username {
  font-weight: 500;
  font-size: 17px;
  color: var(--main-text-color);
  text-decoration: none;
}
.post__username:hover {
  text-decoration: underline;
}

.post__date {
  color: var(--secondary-text-color);
}

.post__content {
  margin-bottom: 15px;
}

/* Log In */

.login, .signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container, .signup__container {
  position: relative;
  background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay);
  height: 700px;
  width: 500px;
  padding: 30px 75px 30px 75px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login__container h1, .signup__container h1 {
  margin: 0;
  text-align: center;
  font-weight: 300;
}

.loginForm, .signupForm {
  display: flex;
  flex-direction: column;
}

.loginForm input, .signupForm input {
  height: 30px;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  background-color: var(--main-background-color);
  box-shadow: var(--level-two-overlay);
  color: var(--main-text-color);
}

.loginForm label, .signupForm label {
  height: 70px;
  position: relative;
}

.loginForm .inputType, .signupForm .inputType {
  position: absolute;
  color: var(--secondary-text-color);
  font-size: 17px;
  left: 10px;
  top: 5px;
  pointer-events: none;
}

/* .focusedInput {
  /* transform: scale(calc(5 / 12)) translateY(-10px); */
/* 
} */

.loginForm .inputError, .signupForm .inputError {
  display: inline-block;
  margin-top: 5px;
  color: var(--error-color);
}

.loginForm .login__submit, .signupForm .signup__submit {
  margin-bottom: 0;
  box-shadow: none;
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
}

.loginForm .login__submit:hover, .signupForm .signup__submit:hover {
  cursor: pointer;
  box-shadow: var(--level-two-overlay);
}

.login__container p {
  align-self: center;
}

.login__container button {
  height: 30px;
  font-size: 17px;
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
}

.login__container button:hover {
  cursor: pointer;
  box-shadow: var(--level-two-overlay);
}

.signup__container .backButton {
  position: absolute;
  background-color:rgba(0, 0, 0, 1);
  box-shadow: var(--level-one-overlay);
  color: var(--primary-color);
  font-size: 20px;
  border-radius: 100px;
  padding: 15px;
  top: 27px;
  left: 15px;
}

.signup__container .backButton:hover {
  background-color: var(--main-background-color);
  box-shadow: var(--level-two-overlay);
}

/* user styles */

.user__top {
  background-color: var(--main-background-color);
  box-shadow: var(--level-one-overlay);
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user__displayName {
  font-weight: 300;
  font-size: 30px;
}

.user__username{
  color: var(--secondary-text-color);
  font-size: 18px;
}

.user__basicInfo {
  margin-bottom: 20px;
}

.user__followerInfo {
  display: flex;
  gap: 10px;
  font-weight: 300;
  color: var(--secondary-text-color);
}

.followNumber {
  font-weight: 500;
  color: var(--main-text-color);
}

.followLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.unfollowButton {
  background-color: var(--secondary-text-color);
  color: var(--contrast-text-color);
  padding: 5px;
  border-radius: 9999px;
  width: 90px;
  height: 30px;
  margin-top: 5px;
  font-size: 16px;
}

.unfollowButton:hover {
  box-shadow: var(--level-two-overlay);
}

.followButton {
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
  padding: 5px;
  border-radius: 20px;
  width: 90px;
  height: 30px;
  margin-top: 5px;
  font-size: 16px;
}

.followButton:hover {
  box-shadow: var(--level-one-overlay);
}

/* follow info pages */
.followInfoSwitchContainer {
  border-radius: 3px;
  box-shadow: var(--level-one-overlay);
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.followInfoSwitch {
  background-color: inherit;
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  width: 300px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.followInfoSwitch:hover {
  box-shadow: var(--level-one-overlay);
}

.selectedInfoSwitch {
  height: 3px;
  width: 150px;
  position: absolute;
  background-color: var(--primary-color);
  bottom: 1px;
}

.followList {
  border-radius: 3px;
  width: 600px;
  box-shadow: var(--level-one-overlay);
  margin-top: 10px;
  font-size: 19px;
}

.followList__user {
  padding: 10px;
}

.followList__user:hover {
  cursor: pointer;
  box-shadow: var(--level-one-overlay);
}

.followList__username {
  color: var(--secondary-text-color);
  font-weight: 400;
}

/* post page */

.postPage {
  position: relative;
  box-shadow: var(--level-one-overlay);
  width: 600px;
  padding: 10px;
}

.postPage__topContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.postPage__displayname {
  font-size: 20px;;
}

.postPage__username {
  color: var(--secondary-text-color);
  font-weight: 300;
}

.postPage__content {
  margin-bottom: 15px;
}

.postPage__date {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: rgb(55, 55, 55);
  border-width: 1px;
}

.postPage__likesInfo {
  font-size: 14px;
  padding: 10px 0px 10px;
  border-bottom: solid;
  border-color: rgb(55, 55, 55);
  border-width: 1px;
}

.postPage__likeWord {
  color: var(--secondary-text-color);
  font-weight: 300;
}

.openModalButton {
  align-self: baseline;
  border-radius: 9999px;
  padding: 7px;
  right: 10px;
  top: 10px;
  background-color: inherit;
  color: var(--secondary-text-color);
  font-size: 20px;
}

.openModalButton:hover {
  box-shadow: var(--level-two-overlay);
}

.postOptionsButton {
  background-color: inherit;
  color: var(--main-text-color);
  box-shadow: var(--level-one-overlay);
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.postOptionsButton:hover {
  box-shadow: var(--level-two-overlay);
}

.deletePostButton {
  color:rgba(211, 84, 107, 1)
}

.modalWrapper {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: fixed;
}

.optionsModal {
  position: absolute;
  width: 150px;
  background-color: var(--main-background-color);
  top: 16px;
  right: 16px;
  box-shadow: 0px 0px 5px var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.postPage__interactButtons {
  padding-top: 10px;
}

.likeButtonPage {
  font-size: 25px;
  background-color: inherit;
  color: var(--secondary-text-color);
}

.dislikeButtonPage {
  font-size: 25px;
  background-color: inherit;
  color: var(--error-color);
}

