@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* alter defaults */
* {
  box-sizing: border-box;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

button {
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  appearance: inherit;
}

p {
  margin: 0px;
}

.app {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255, .87);
  background-color: rgba(0, 0, 0, 1)
}

/* Home Page */

.home__postFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__post {
  font-size: 16px;
  background-color: rgba(21, 21, 21, 1);
  width: 650px;
  margin: 5px 0px 5px;
  border-radius: 3px;
  padding: 8px;
  padding-bottom: 6px;
}

.post__topRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 3px;
}

.post__username a {
  font-weight: 500;
  font-size: 17px;
  color: rgb(255, 255, 255, .87);
  text-decoration: none;
}
.post__username a:hover {
  text-decoration: underline;
}

.post__date {
  color: rgb(255, 255, 255, .6);
}

.post__content {
  margin-bottom: 15px;
}

.likeButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255, .6);
  background-color: rgba(21, 21, 21, 1);
}

.likeButton:hover {
  color: #d3546b;
}

.dislikeButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  color: #d3546b;
  background-color: rgba(21, 21, 21, 1);
}

/* Log In */

.login, .signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container, .signup__container {
  /* background-color: rgba(21, 21, 21, 1); */
  background-color:rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.08);
  height: 700px;
  width: 500px;
  padding: 30px 75px 30px 75px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login__container h1, .signup__container h1 {
  margin: 0;
  text-align: center;
  font-weight: 300;
}

.loginForm, .signupForm {
  display: flex;
  flex-direction: column;
}

.loginForm input, .signupForm input {
  height: 30px;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.16);
  color: rgb(255, 255, 255, .87);
}

.loginForm label, .signupForm div {
  height: 70px;
  position: relative;
}

.loginForm .inputType {
  position: absolute;
  color: rgb(255, 255, 255, .6);
  font-size: 17px;
  left: 10px;
  top: 5px;
  pointer-events: none;
}

/* .focusedInput {
  /* transform: scale(calc(5 / 12)) translateY(-10px); */
/* 
} */

.loginForm .inputError, .signupForm p {
  display: inline-block;
  margin-top: 5px;
  color: #d3546b;
}

.loginForm .login__submit, .signupForm .signup__submit {
  margin-bottom: 0;
  box-shadow: none;
  background-color: rgba(187, 134, 252, 1);
  color:rgba(0, 0, 0, 1);
}

.loginForm .login__submit:hover, .signupForm .signup__submit:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.login__container p {
  align-self: center;
}

.login__container button {
  height: 30px;
  font-size: 17px;
  background-color: rgba(187, 134, 252, 1);
  color:rgba(0, 0, 0, 1);
}

.login__container button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

/* Sign Up */
